<?xml version="1.0" ?>
<launch>
  <arg name="scan_topic" default="/myrobot/laser_scan" />
  <arg name="base_frame" default="base_link" />
  <arg name="odom_frame" default="odom" />
  <arg name="global_frame_id" default="/map" />
  <arg name="move_forward_only" default="false"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    
    <rosparam file="$(find robot_description)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_description)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robot_description)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_description)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_description)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find robot_description)/config/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find robot_description)/config/global_planner_params.yaml" command="load" />
    
    <param name="global_costmap/global_frame" value="$(arg global_frame_id)" />
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame)" />
    <param name="local_costmap/global_frame" value="$(arg odom_frame)" />
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame)" />
    <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame)" />
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
    
    <remap from="cmd_vel" to="cmd_vel" />
    <remap from="odm" to="$(arg odom_frame)" />
    <remap from="scan" to="$(arg scan_topic)" />
  </node>
</launch>
